################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/sol2_ImGui_Bindings/v16/Browse.VC.opendb
